<section class="container mx-auto py-12">
  <h1 class="text-4xl font-bold text-pink-500 mb-8">Lo último en el cine</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <div *ngFor="let movie of movies" class="bg-white rounded-lg shadow-md p-6">
      <img [src]="movie.posterUrl" alt="{{ movie.title }}" class="rounded-t-lg">
      <h2 class="text-xl font-bold mt-4">{{ movie.title }}</h2>
      <h2 class="text-xl mt-4">{{ movie.releaseDate }}</h2>
      <p class="text-gray-700">{{ movie.description }}</p>
      <a [href]="movie.link" target="_blank" class="inline-block bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded mt-4">
        Más detalles
      </a>
    </div>
  </div>
</section>
