<footer class="bg-gray-100 text-pink-500 py-10">
  <div class="container mx-auto flex flex-col md:flex-row justify-center items-center md:space-x-16">
    <!-- About Section -->
    <div class="mb-6 md:mb-0 text-center">
      <h3 class="font-bold text-lg">Acerca de nosotros</h3>
      <p class="mt-4 max-w-sm mx-auto">
        Únete a nuestra comunidad y conviértete en parte de la conversación. Ya sea que prefieras dramas intensos, comedias ligeras, películas de acción trepidante o documentales reveladores, en CineVerso tenemos algo para ti.
      </p>
    </div>

    <!-- Contact Section -->
    <div class="mb-6 md:mb-0 text-center">
      <h3 class="font-bold text-lg">Contacto</h3>
      <p class="mt-4">Email: Cineversogmail.com</p>
      <p>Teléfono: +123 456 7890</p>
    </div>

    <!-- Social Media Section -->
    <div class="mb-6 md:mb-0 text-center">
      <h3 class="font-bold text-lg">Desarrolladores</h3>
      <ul class="mt-4 space-y-2">
        <li><a  class="hover:underline">Kevin Castro</a></li>
        <li><a  class="hover:underline">Santiago Gonzales</a></li>
        <li><a  class="hover:underline">Sara Montoya</a></li>
      </ul>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="text-center mt-10">
    <p id="copy">&copy; 2024 CineVerso</p>
  </div>
</footer>
